<app-header></app-header>
<nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
        <h2 class="text-light primary py-3">PROJECT UPDATION</h2>
    </div>
    </nav>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form [formGroup]= "profileForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label for="id" class="form-label">project id</label>
                    <!-- <small class="error" [class.d-none]="id?.valid || id?.untouched"> project id is a required field</small> -->
                    <input type="number" class="form-control" id="id" value="{{project.id}}"
                    formControlName="id">
                </div>  
            <div class="mb-3">
              <label for="name" class="form-label">projectName</label>
              <!-- <small class="error" [class.d-none]="name?.valid || name?.untouched"> project Name is a required field</small> -->
              <input type="text" class="form-control" id="name" value="{{project.name}}"
              formControlName="name" >
          </div>
            <div class="mb-3">
                <label for="organization" class="form-label">organization Name</label>
                <!-- <small class="error" [class.d-none]="organization?.valid || organization?.untouched">organization Name is a required field</small> -->
                <input type="text" class="form-control" id="organizationName" placeholder="" value="{{project.organization}}"
                formControlName="organization" >
            </div>
            <div class="mb-3">
                <label for="projectManager" class="form-label">project Manager</label>
                <!-- <small class="error" [class.d-none]="projectManager?.valid || projectManager?.untouched">project Manager is a required field</small> -->
                <input type="text" class="form-control" id="projectManager" placeholder="" value="{{project.projectManager}}"
                formControlName="projectManager" >
            </div>
            <div class="mb-3">
                <label for="startDate" class="form-label">startDate</label>
                <!-- <small class="error" [class.d-none]="startDate?.valid || startDate?.untouched">startDate is a required field</small> -->
                <input type="date" class="form-control" id="startDate" placeholder="" value="{{project.startDate}}"
                formControlName="startDate">
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">location</label>
                <!-- <small class="error" [class.d-none]="location?.valid || location?.untouched">location is a required</small> -->
                <input type="text" class="form-control" id="location" placeholder="" value="{{project.location}}"
                formControlName="location" >
            </div>
            <div class="mb-3">
                <label for="endDate" class="form-label">End Date</label>
                <!-- <small class="error" [class.d-none]="endDate?.valid || startDate?.untouched">endDate is a required</small> -->
                <input type="date" class="form-control" id="endDate" placeholder="" value="{{project.endDate}}"
                formControlName="endDate" >
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">description</label>
                <!-- <small class="error" [class.d-none]="description?.valid || startDate?.untouched">Description is a required</small> -->
                <input type="text" class="form-control" id="description" placeholder="" value="{{project.description}}"
                formControlName="description">
            </div>
            <div class="mb-3">
                <label for="projectType" class="form-label">projectType</label>
                <!-- <small class="error" [class.d-none]="projectType?.valid || projectType?.untouched">projectType is a required</small> -->
                <input type="text" class="form-control" id="description" placeholder="" value="{{project.projectType}}"
                formControlName="projectType">
            </div>
            
            <div class="mb-3">
                <label for="editorId" class="form-label">editorId</label>
                <!-- <small class="error" [class.d-none]="editorId?.valid || editorId?.untouched">editorId is a required field</small> -->
                <input type="number" class="form-control" id="location" placeholder="" value="{{project.editorId}}"
                formControlName="editorId" >
            </div>
            <div class="mb-3">
                <button type="submit"  class="btn btn-primary">Update</button>
            </div>
        </form>
        </div>
    </div>
  </div>
  <div class="padding" ></div>
