<app-header></app-header>
<div class="card" style="width: 30rem;height:30rem;align-items: center; margin-left:25rem;background: rgb(239, 235, 241);">
      <div class="card-body">
      <h2 style="margin-left: 2rem;padding-top: 3rem;" class="card-title">Organization Details</h2>
      <p style="margin: 1rem;"class="card-text">Name:</p>
      <p style="margin: 1rem;" class="card-text">Location:</p>
      <p style="margin: 1rem;" class="card-text">Owner:</p>
      <p style="margin: 1rem;" class="card-text">Parent Organization:</p><br>
      <!-- <button style="margin-left: 10rem;" href="#" class="btn btn-primary">Check Slab</button> -->
      <button  style="background-color:rgb(236, 236, 247); margin-left: 10rem; " type="submit"><a style="text-decoration:none;"routerLink="/slabcharges">Check Slab</a></button>
    </div>
  </div>
<app-footer></app-footer>
