<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <!-- <div>
                        <label> <b> Organization Id: </b></label> {{org.id}}
                    </div> -->
                    <div>
                        <label> <b> Organization Name: </b></label> {{org.orgName}}
                    </div>
                    <div>
                        <label> <b> location: </b></label> {{org.location}}
                    </div>
                    <div>
                        <label> <b> owner: </b></label> {{org.owner}}
                    </div>
                    <div>
                        <label> <b> ownerEmpId: </b></label> {{org.ownerEmpId}}
                    </div>
                    <div>
                        <label> <b> parentOrg: </b></label> {{org.parentOrg}}
                    </div>
                    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" (click)="showSlabDetails()">
                        Slab Details
                    </button> -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 slab_details" id="slab_details">
        <div class="card">
            <div class="card-body">
                <table class = "table table-striped table-bordered">
    <thead>
        <tr>
            <th> Slab</th>
            <th> Cost</th>
        </tr>
    </thead>
            <tbody>
                <tr *ngFor="let item of slab_data" >
                    <td>{{item.slab}}</td>
                    <td> {{ item.cost }} </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
</div>