.logo{
    width:180px
}

.header{
    text-align: center;
    align-items: center;
    padding: 1.1rem
}

.search-bar{
    width:40rem;
    border-radius: 1.2rem;
}

.search-bar--input{
    border-radius: 0.32rem;
}

hr{
    border-top: 1px solid grey;
    margin-top: 0;
}

.accessibility-options{
   gap: 0.9rem
}

.emp-btn,.org-btn,.project-btn{
    width:13rem;
    border: 0.01rem solid #8080805c;
}

