
<form >

    <label for="first-name">Name</label>
    <input id="first-name" type="text" formControlName="firstName">
  
    <label for="last-name">Location</label>
    <input id="last-name" type="text" formControlName="lastName">
    <label for="last-name">Gender</label>
    <input id="last-name" type="text" formControlName="lastName">
    <label for="last-name">Designation</label>
    <input id="last-name" type="text" formControlName="lastName">
    <label for="last-name">Category</label>
    <input id="last-name" type="text" formControlName="lastName">
    <label for="last-name">Project ID</label>
    <input id="last-name" type="text" formControlName="lastName">
    <label for="last-name">Lead ID</label>
    <input id="last-name" type="text" formControlName="lastName">
    <label for="last-name">Organization ID</label>
    <input id="last-name" type="text" formControlName="lastName">
    <label for="last-name">clientCounterpartId</label>
    <input id="last-name" type="text" formControlName="lastName">
  
  </form>
  