<div class="card"
  style="width: 50rem;height:40rem;align-items: center; margin:auto;background: rgb(239, 235, 241);">
  <div class="card-body">
    <h2 style="margin-left: 2rem;padding-top: 3rem;" class="card-title">Project Details</h2><br>
    
<div>
    <div>
        <label> <b> Project Id: </b></label> {{project.id}}
    </div>
    <div>
        <label> <b> Project Name: </b></label> {{project.name}}
    </div>
    <div>
        <label> <b> organization: </b></label> {{project.organization}}
    </div>
    <div>
        <label> <b> projectManager: </b></label> {{project.projectManager}}
    </div>
    <div>
        <label> <b> location: </b></label> {{project.location}}
    </div>
    <div>
        <label> <b> description: </b></label> {{project.description}}
    </div>
    <div>
        <label> <b> Project Type: </b></label> {{project.projectType}}
    </div>
    <div>
        <label> <b> Start Date: </b></label> {{project.startDate}}
    </div>
    <div>
        <label> <b> End Date: </b></label> {{project.endDate}}
    </div>
</div>
</div>
</div>
