<app-header></app-header>
<router-outlet></router-outlet>
<div class=" container py-5 profile-container" id="profile-container">
  <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4 profile-desc">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">John Smith</h5>
            <p class="text-muted mb-1" >Full Stack Developer</p>
            <p class="text-muted mb-2">6907</p>
            <p class="text-muted mb-2">John@accolitedigital.com</p>
            <!-- <hr> -->
            <div class="d-flex justify-content-center mb-2">

              <button routerLink="/profile/history" type="button" class="btn btn-primary">Check
                History</button>
              <button  routerLink="/profile/timesheets" type="button" class="btn btn-primary">Check
                Timesheets</button>

            </div>
          </div>
        </div>

      </div>




      <div class="col-lg-8">
        <div class="card mb-4 profile-detail">
          <div class="card-body">
            <div class="row">

              <div class="col-sm-3">
                <p class="mb-0">Employee ID</p>
                <p class="text-muted mb-0">{{profile.id}}</p>
              </div>

              <div class="col-sm-3">
                <p class="mb-0">Gender</p>
                <p class="text-muted mb-0">{{profile.gender}}</p>
              </div>

              <div class="col-sm-3">
                <p class="mb-0">Designation</p>
                <p class="text-muted mb-0">{{profile.designation}}</p>
              </div>

              <div class="col-sm-3">
                <p class="mb-0">Organization</p>
                <p class="text-muted mb-0">{{profile.organizationId}}</p>
              </div>

            </div>
            <hr>

            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Name</p>
                <p class="text-muted mb-0">{{profile.name}}</p>
              </div>

              <div class="col-sm-3">
                <p class="mb-0">Category</p>
                <p class="text-muted mb-0">{{profile.category}}</p>
              </div>

              <div class="col-sm-3">
                <p class="mb-0">Project</p>
                <p class="text-muted mb-0">{{profile.projectId}}</p>
              </div>
            
              <div class="col-sm-3">
                <p class="mb-0">Band</p>
                <p class="text-muted mb-0">{{profile.band}}</p>
              </div>

            </div>
            <hr>

            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Current Office Location</p>
                <p class="text-muted mb-0">{{profile.location}}</p>
              </div>

              <div class="col-sm-3">
                <p class="mb-0">Date Of Joining</p>
                <p class="text-muted mb-0">{{profile.dateOfJoining}}</p>
              </div>

              <div class="col-sm-3">
                <p class="mb-0">Lead</p>
                <p class="text-muted mb-0">{{profile.leadId}}</p>
              </div>

             
            </div>
            <hr>

            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Client Counter Part</p>
                <p class="text-muted mb-0">{{profile.clientCounterpartId}}</p>
              </div>
            </div>
            <hr>

          </div>
        </div>
      </div>
    </div>
    <div class="card skills card-body"> This is some text within a card body.</div>

  </div>




<app-footer></app-footer>