

<div>
  <section style="background-color: #eee;">
    <div class=" container py-5">
      <div class="row">
        <div class="col">
            <div class="card display">
               

        
<table style="width:100%">
  <tr>
    <th>Lead</th>
    <th>Client CounterPart</th> 
    <th>Organization</th>
    <th>Organization Department</th>
    <th>Accolite Department</th>
    <th>DOJ of Organization</th>
    <th>DOL of Organization</th>
    <th>Project</th>
    <th>Project Joining Date</th>
    <th>Project Leaving Date</th>
  </tr>
  <tr>
   <td>KIWI</td>
   <td>A12</td>
   <td>OpStack</td>
   <td>ABC</td>
   <td>dd-mm-yyyy</td>
   <td>dd-mm-yyyy</td>
 
   <td>XYZ</td>
   <td>dd-mm-yyyy</td>
   <td>dd-mm-yyyy</td>
  </tr>
 
</table>
</div>
</div>
</div>
</div>

</section>
</div>
