<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
</head>
<body>


<table style="width:100%">
  <tr>
    <th>Lead</th>
    <th>Client CounterPart</th> 
    <th>Organization</th>
    <th>Organization Department</th>
    <th>Accolite Department</th>
    <th>DOJ of Organization</th>
    <th>DOL of Organization</th>
    <th>Project</th>
    <th>Project Joining Date</th>
    <th>Project Leaving Date</th>
  </tr>
  <tr>
   <td>KIWI</td>
   <td>A12</td>
   <td>OpStack</td>
   <td>ABC</td>
   <td>dd-mm-yyyy</td>
   <td>dd-mm-yyyy</td>
 
   <td>XYZ</td>
   <td>dd-mm-yyyy</td>
   <td>dd-mm-yyyy</td>
  </tr>
 
</table>

</body>
</html>


