<div class="header" id="header">
   
    <div class="logoSearch-bar" layout="row">
    <img flex="50" class="logo" src="https://www.accolite.com/assets/jpg/homebannerimages/accolite-logo.svg">
     <div flex="50" class="input-group search-bar">
        <div class="form-outline">
          <input type="search" id="form1" class="form-control serach-bar--input" placeholder="Search" /><i class="fa-solid fa-magnifying-glass search-icon" ></i>
          <label class="form-label" for="form1"></label>
        </div>
      </div></div>

      <div class="accessibility-options">
        <div class="org">Organization</div>
        <div class="emp">Employee</div>
        <div class="project">Project</div>
      </div>
    <mat-card>
        <img mat-card mat-card-avatar
            src="https://media.istockphoto.com/id/1395878839/photo/despair.jpg?s=612x612&w=is&k=20&c=kMEeH-B5-xub-UIFCVSxRu86XRBPwrUznryzUshehJI=" class="profile"/>
    </mat-card>
</div>
<hr>