<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><HEADER></hEADER></title>
</head>
<body>
    <div style="background-color: rgb(247, 206, 153);">
        <!-- <img src= "accolitelogo.jpg" alt="Accolitelogo" height="20px" width="20px"> -->
        <img src="https://www.accolite.com/assets/jpg/homebannerimages/accolite-logo.svg"><br/>
        <button class="button">Login</button>
    </div>
</body>
</html>
 