<div class="header" id="header">
   
    <div class="logoSearch-bar" layout="row">
    <img flex="50" class="logo" src="https://www.accolite.com/assets/jpg/homebannerimages/accolite-logo.svg">
     <div flex="50" class="input-group search-bar">
        <div class="form-outline">
          <input type="search" id="form1" class="form-control serach-bar--input" placeholder="Search" /><i class="fa-solid fa-magnifying-glass search-icon" ></i>
          <label class="form-label" for="form1"></label>
        </div>
      </div></div>

<div class="accessibility-options d-flex flex-row " id="accessibility-options">   
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle employee-dd" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="true">
         Employee
        </button>
        <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
           <li><a class="dropdown-item" href="#">Create</a></li>
           <li><a class="dropdown-item" href="#">View</a></li>
          <li><a class="dropdown-item" href="#">Update</a></li>
          <li><a class="dropdown-item" href="#">Disable</a></li>
        </ul>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle employee-dd" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="true">
        Organization
        </button>
        <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
           <li><a class="dropdown-item" href="#">Create</a></li>
           <li><a class="dropdown-item" href="#">View</a></li>
          <li><a class="dropdown-item" href="#">Update</a></li>
          <li><a class="dropdown-item" href="#">Disable</a></li>
        </ul>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle employee-dd" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="true">
         Project
        </button>
        <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
           <li><a class="dropdown-item" href="#">Create</a></li>
           <li><a class="dropdown-item" href="#">View</a></li>
          <li><a class="dropdown-item" href="#">Update</a></li>
          <li><a class="dropdown-item" href="#">Disable</a></li>
        </ul>
      </div>
      </div>
    <mat-card>
        <img mat-card mat-card-avatar
            src="https://media.istockphoto.com/id/1395878839/photo/despair.jpg?s=612x612&w=is&k=20&c=kMEeH-B5-xub-UIFCVSxRu86XRBPwrUznryzUshehJI=" class="profile"/>
    </mat-card>
</div>
<hr>