/* .container{
    max-width: 500px;
  margin: auto;
  padding: 10px;
  border-style:solid;
} */
div {
    margin-bottom: 20px;
  }
  label {
    display: inline-block;
    width: 150px;
    text-align: right;
  }