<app-header></app-header>
<!DOCTYPE html>
<html>
  <head>
    <title>creation and updation of organization</title>
    
    <!-- <link rel="stylesheet" href="./create-update.component.css"> -->
  </head>
  <body >
    <h2 style="margin-left: 35rem;">Add Details</h2>
    <form action="/form/submit" method="post" class="container">
      <div>
        <label>Slab-Charge Id</label>
        <input type="text"/>
      </div>
      <div>
        <label>Name</label>
        <input type="text" />
      </div>
      <div>
        <label>Location</label>
        <input type="text" />
      </div>
      <div>
        <label>Owner</label>
        <input type="text" />
      </div>
      <div>
        <label>Parent Organization</label>
        <input type="text" />
      </div>
      <button type="submit">create Organization</button>
    </form>
  </body>
</html>
<app-footer></app-footer>